/* ==========================================================================
   COSMERE - CALLOUTS PERSONALIZADOS
   ========================================================================== */

@use "./variables.scss";
@use "sass:color";

/* WoB */
.callout[data-callout="wob"] {
  --color: #F59E0B;
  --border-color: rgba(#F59E0B, 0.5);
  --bg-color: rgba(#F59E0B, 0.05);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);

  > .callout-title {
    color: var(--color);
    border-bottom: 1px solid var(--border-color);

    > .callout-icon svg path {
      d: "M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z";
    }
  }
}

/* Investidura */
.callout[data-callout="investidura"] {
  --color: #06B6D4;
  --border-color: rgba(#06B6D4, 0.5);
  --bg-color: rgba(#06B6D4, 0.05);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(#06B6D4, 0.1);

  > .callout-title {
    color: var(--color);
    border-bottom: 1px solid var(--border-color);

    > .callout-icon svg path {
      d: "M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10-10-4.477-10-10 4.477-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373 12-12-12zm0 6c-3.313 0-6 2.687-6 6s2.687 6 6 6 6-2.687 6-6-2.687-6-6-6zm0 2c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z";
    }
  }
}

/* Curiosidad (tu nuevo callout `!curio`) */
.callout[data-callout="curio"] {
  --color: #A855F7; /* morado Nalthis */
  --border-color: rgba(#A855F7, 0.5);
  --bg-color: rgba(#A855F7, 0.07);

  border: 1px solid var(--border-color);
  background-color: var(--bg-color);

  > .callout-title {
    color: var(--color);
    border-bottom: 1px solid var(--border-color);

    > .callout-icon svg path {
      d: "M12 2A10 10 0 1 0 12 22A10 10 0 1 0 12 2ZM11 6H13V8H11V6ZM11 10H13V17H11V10Z";
    }
  }
}
